html {
    height: 100%;
    box-sizing: border-box;
    font-family: $font;
    font-size: 80%;
    color: $black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    padding: 1rem;

    @include breakpoint($small) {
        padding: 2rem 4rem;
    }
}

.maze {
    margin: 2rem auto;
    position: relative;
    background-color: $black;
}

.pacman {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: $yellow;

    &.-is-moving {
        mask: conic-gradient(
            at 50% 60%,
            transparent var(--slice-start),
            #000 var(--slice-start) var(--slice-end),
            transparent var(--slice-end) var(--slice-start)
        );
        animation: eat .15s ease-in alternate infinite;
    }
}

.dot {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    background-color: $tumbleweed;
    transform: translate(-50%, -50%);

    &.-is-obstacle {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        background-color: $neonBlue;
    }

    &.-is-visited {
        background-color: $black;
    }
}

.game-end {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    white-space: nowrap;
    color: $white;
    transform: translate(-50%, -50%);
    animation: color .1s linear alternate infinite;
}

.warning {
    padding: 1rem;
    font-weight: bold;
    background: $green;
}

.ghost {
    mask: conic-gradient(
        from -45deg at bottom,
        #0000,
        #000 1deg 90deg,
        #0000 91deg)
        50% / var(--ghost-tailsize) 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px 10px 2px 2px;
    animation: tailsize .3s linear alternate infinite;

    &:before,
    &:after {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        top: 6px;
        border-radius: 50%;
        background: conic-gradient(black 0deg 90deg, white 90deg 360deg);
    }

    &:before {
        left: 4px;
    }

    &:after {
        right: 4px;
    }

    &.up {
        &:before,
        &:after {
            transform: rotate(-0.1turn);
        }
    }

    &.left {
        &:before,
        &:after {
            transform: rotate(-0.25turn);
        }
    }

    &.down {
        &:before,
        &:after {
            transform: rotate(-0.6turn);
        }
    }

    &.blinky {
        background: $red;
    }

    &.pinky {
        background: $pink;
    }

    &.inky {
        background: $lightBlue;
    }

    &.clyde {
        background: $yellowDark;
    }
}
