// Colors

$white: #FFFFFF;
$black: #000000;
$yellow: #FFFF00;
$tumbleweed: #DEA185;
$neonBlue: #1919A6;
$blue: #2121DE;
$red: #FD0000;
$green: #00FF00;
$pink: #FFB8FF;
$lightBlue: #00FFFF;
$yellowDark: #FFB852;


// Fonts

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font: "Press Start 2P", monospace;


// CSS Custom Properties

@property --slice-start {
    syntax: '<angle>';
    initial-value: 50deg;
    inherits: false;
}

@property --slice-end {
    syntax: '<angle>';
    initial-value: 310deg;
    inherits: false;
}

@property --ghost-tailsize {
    syntax: '<length>';
    inherits: false;
    initial-value: 10px;
}

.main.-is-browser-outdated {
    --slice-start: 50deg;
    --slice-end: 310deg;
    --ghost-tailsize: 10px;
}


// Breakpoints

$tiny: 480px;
$small: 768px;
$medium: 1024px;
