// Animations

@keyframes eat {
    0% {
        --slice-start: 50deg;
        --slice-end: 310deg;
    }

    100% {
        --slice-start: 0deg;
        --slice-end: 360deg;
    }
}

@keyframes color {
    from {
        color: $white;
    }

    to {
        color: $green;
    }
}

@keyframes tailsize {
    from {
        --ghost-tailsize: 7px;
    }

    to {
        --ghost-tailsize: 10px;
    }
}
